<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/emerymiya">Emery Green</a>. A web developer, who is beginning his new career, and eager for a bigger and brighter future!
  </p>

  <br />

  <p>
    For the last 8 years, Emery has worked hard in the cosmetology industry, enjoying a life full of creativity and challenges with each new runway, theatrical show, wedding, and shop. Despite loving the fast paced industry that is hair and makeup, he's ready for a new life that includes his passion for coding.
  </p>

  <br />

  <p>
    If you want to learn how to code - start <a target="blank" href="https://online.bootcampspot.com">here</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Emery Green</h2>
    <br />
    <p>
      Emery Green is a web developer, who has learned how to code through the University of Texas: Austin. He specializes in HTML, CSS, and Ruby on Rails. 
    </p>
  </div>
  <br class="clear" />
</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />



